.btnGeneral{
    background: black;
    width: 300px;
    color: white;
    text-align: center;
    font-style: bold;
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
    transition-property: color, background-color,width;
    transition-duration: 2s,3,2s;
    transition-timing-function: linear,ease-out,ease-out;
    -webkit-transition-property: color,background-color,width;
    -webkit-transition-duration: 2s,3s,2s;
    -webkit-transition-timing-function:linear,ease-out,ease-out; 
    -webkit-transition-property: color,background-color,width;
    -webkit-transition-duration: 2s,3s,2s;
    -webkit-transition-property: linear,ease-out,ease-out;
}
.animar{
    color: #FFF;
    background-color: #ed235d;
    width: 650px;
    transition:all 5s ease-out;
    -webkit-transition:all 5s ease-out;
    -moz-transition:all 5s ease-out;
    -o-transition:all 5s ease-out;
}
.animar2{
    color: #FFF;
    background-color:rgb(110,53,223);
    width: 750px;
    transition:all 5s ease-out;
    -webkit-transition:all 5s ease-out;
    -moz-transition:all 5s ease-out;
    -o-transition:all 5s ease-out;
}